<div class="card" style="width: 28rem;">
    <div class="card-header text-card-title">
      <small>Quantidade de Requisições por Mês</small>
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficG"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>    
    const ctx = document.getElementById('graficG').getContext('2d');

    new Chart(ctx, {
      type: 'bar',
      data: {
        datasets: [
        {
          label: 'INSUMOS',
          data: [
          {% for metric in metrics %}
            {% if metric.name == "Insumo" %}
            {% for t in metric.total %}
            {{t.total|floatformat:"0"}},
            {% endfor %}
            {% endif %}
          {% endfor %}
          ],
          borderColor: 'rgba(22,219,156,0.8)',
          backgroundColor: 'rgba(22,219,156,0.8)',
        },{
          label: 'EPI',
          data: [
          {% for metric in metrics %}
            {% if metric.name == "EPI" %}
            {% for t in metric.total %}
            {{t.total|floatformat:"0"}},
            {% endfor %}
            {% endif %}
          {% endfor %}
          ],
          borderColor: 'rgba(22,91,219,0.8)',
          backgroundColor: 'rgba(22,91,219,0.8)',
        },{
          label: 'OUTROS',
          data: [
          {% for metric in metrics %}
            {% if metric.name == "Outros" %}
            {% for t in metric.total %}
            {{t.total|floatformat:"0"}},
            {% endfor %}
            {% endif %}
          {% endfor %}
          ],
          borderColor: 'rgba(181,124,247,0.8)',
          backgroundColor: 'rgba(181,124,247,0.8)',
        },
      ],
    
        labels: [
        {% for month in months %}
            "{{ month }}",
          {% endfor %}
        ],
      },
      options: {
        scales: {
          x: {
            stacked: true,
            ticks: {
              autoSkip: false,
              maxRotation: 0
            }
          },
          y: {
            stacked: true
          }
        }
      },
    });
  </script>