
<table class="table">
    <thead>
        <tr>
            <th class="">ID</th>
            <th class="">PRODUTO</th>
            <th class="">QTD.</th>
            <th class="">UND</th>
            <th class="">D. UTILIZACAO</th>
        </tr>
    </thead>
    <tbody>
        {% for item in itens %}
        <tr>
            <td>{{ item.produto.code }}</td>
            <td>{{ item.produto.name }}</td>
            <td>{{ item.qtd|floatformat:"2g" }}</td>
            <td>{{ item.produto.unidade }}</td>
            <td>{{ item.dt_utiliza|date:"d/m/Y" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Sem produtos</td>
        </tr>
        {% endfor %}
    </tbody>
</table>