{% extends "pages/initial.html" %}
{% block title %}Setor Compras | {% endblock title %}
{% block content_app %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 mt-1">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Requisições</h5>
                    <div class="card-text">
                        <a href="{% url "billings:requests" 0 %}" class="btn btn-sm btn-primary">Abertas</a>

                        <a href="{% url "billings:requests" 1 %}" class="btn btn-sm btn-success">Finalizadas</a>
                    </div>
                </div>
            </div>
            <div class="card text-center mt-1" >
                <div class="card-body">
                    <h5 class="card-title">TOTAL RC MÊS</h5>
                    <div class="card-text">
                        <ul class="list-group">
                            {% for rc in total_requests_month %}
                            <li class="list-group-item d-flex justify-content-between align-items-center text-small">
                                {% if rc.classification == 1 %}
                                Insumos
                                <span class="badge bg-primary rounded-pill">{{ rc.total }}</span>
                                {% elif rc.classification == 2 %}
                                EPI
                                <span class="badge bg-primary rounded-pill">{{ rc.total }}</span>
                                {% else %}
                                Outros
                                <span class="badge bg-primary rounded-pill">{{ rc.total }}</span>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-1">
                <div class="card text-center" >
                    <div class="card-body">
                        <h5 class="card-title">TEMPO MÉDIO</h5>
                        <div class="card-text">
                            <ul class="list-group">
                                {% for rc in total_requests_month %}
                                <li class="list-group-item d-flex justify-content-between align-items-center text-small">
                                    {% if rc.classification == 1 %}
                                    Insumos
                                    <span class="badge bg-primary rounded-pill">{{ hours_insumos|floatformat:"0" }} Hrs</span>
                                    {% elif rc.classification == 2 %}
                                    EPI
                                    <span class="badge bg-primary rounded-pill">{{ hours_epi|floatformat:"0" }} Hrs</span>
                                    {% else %}
                                    Outros
                                    <span class="badge bg-primary rounded-pill">{{ hours_outros|floatformat:"0" }} Hrs</span>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 mt-1">
            <div class="card text-center text-nowrap">
                <div class="card-body">
                    <div class="card-text">
                        <p class="m-1"><strong>TOP 5 PRODUTOS</strong></p>
                        <ul class="list-group">
                            {% for product in products %}
                            <li class="list-group-item d-flex justify-content-between align-items-center text-small">
                                {{ product.produto__name }}
                                <span class="badge bg-primary rounded-pill">{{ product.total }}</span>
                            </li>
                            {% empty %}
                            <p>Sem dados</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-1">
                <div class="card text-center text-nowrap">
                    <div class="card-body">
                        <div class="card-text">
                            <p class="m-1"><strong>TOP 5 SOLICITANTES</strong></p>
                            <ul class="list-group">
                                {% for bss in requester %}
                                <li class="list-group-item d-flex justify-content-between align-items-center text-small">
                                    {{ bss.branch_destino__name }}
                                    <span class="badge bg-primary rounded-pill">{{ bss.total }}</span>
                                </li>
                                {% empty %}
                                <p>Sem dados</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mt-1">
            {% include "partials/Graph_By_Type_Purchasing.html" %}
        </div>
        <div class="col-3 mt-1">
            {% include "partials/Graph_Pie_Type_Purchasing.html" %}
        </div>
    </div>
</div>

{% endblock content_app %}